/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
body {
    background: #282828;
}
.Stil1 {
    color: #d6d8d9
}
.Stil2 {
    color: #d6d8d9
}